<header class="modal-header">
    <h1>你确认要离开？?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        嘿，看这里！看上去你正在写东西并且你没有保存你所有的内容。
    </p>

    <p>请在离开前保存您的文章!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>留下来</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red"><span>离开</span></button>
</div>
